body {
  font-family: "Helvetica", arial, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #4c4c4c;
}

.header {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  border-top: 1px solid #efefef;
  background-color: #fff;
  width: 100%;
  height: 40px;
  padding: 20px 40px;
}

.header > ul {
  list-style: none;
}

.header > ul > li {
  display: inline-block;
  padding: 0 20px;
}

.header .header-home {
  position: absolute;
  text-align: center;
  color: #4c4c4c;
  left: 100px;
  width: 50px;
  padding: 10px 15px;
}

.header .cart-count {
  position: absolute;
  color: #fff;
  top: -10px;
  right: -10px;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  background-color: #ec4646;
  line-height: 27px;
}

.header-cart {
  position: absolute;
  text-align: center;
  top: 20px;
  right: 40px;
  color: #4c4c4c;
  width: 50px;
  padding: 10px 15px;
}

.btn {
  display: inline-block;
  border: 1px solid #4c4c4c;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 20px;
}

.btn:hover {
  border: 1px solid #ec4646;
  background-color: #ec4646;
  color: #fff;
  cursor: pointer;
}

/*****
HOME
*****/

.product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 40px 100px;
}

.product-wrapper .product {
  border: 1px solid #efefef;
  text-align: center;
  margin: 20px;
}

.product-wrapper .product img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
}

.product-wrapper .product-title {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0 10px;
}

.product-wrapper .product-price {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.product-wrapper .product-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-wrapper .btn {
  margin: 20px 10px;
}

/*****
CART
*****/

.cart {
  text-align: center;
  padding: 30px 20px 100px;
}

.cart > span {
  margin-right: 40px;
}

.cart span strong {
  font-weight: 400;
}

.cart .btn {
    margin-bottom: 20px;
}

.empty-cart {
  color: #afafaf;
}

.cart-items .item {
  border: 1px solid #efefef;
  height: 80px;
  padding: 20px;
  margin-top: 20px;
}

.cart-items .item img {
  display: inline-block;
  height: 100%;
  max-width: 80px;
  object-fit: cover;
  float: left;
}

.cart-items .item-info {
  position: absolute;
  left: 150px;
  display: inline-block;
  text-align: left;
  line-height: 28px;
}

.cart-items .item-title {
  display: block;
  vertical-align: top;
  font-weight: 400;
}

.cart-items .item-quantity {
  display: block;
  color: #afafaf;
  font-size: 12px;
}

.cart-items .item-price {
  font-weight: 400;
}

.cart-items .item-action {
  display: inline-block;
  float: right;
  margin-top: 22px;
}

/*****
FORMS
*****/

input {
  outline: none;
}

.field-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.field-input {
  width: 100%;
  height: 30px;
  border: 1px solid;
  padding: 4px 10px;
  margin: 0 15px;
}

/*****
LOGIN
*****/

.login {
    text-align: center;
    padding: 30px 20px 100px;
}

.login-title {
  color: #afafaf;
  line-height: 80px;
}

.login-form {
  width: 320px;
  margin: 0 auto;
}

/*****
RESET
*****/

.reset-password-title {
  display: block;
  font-size: 12px;
  margin: 20px 0;
}

.signup {
  border-top: 1px solid #afafaf;
  padding-top: 20px;
}

.reset-password {
  padding-top: 100px;
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

.reset-password span {
  color: #afafaf;
  line-height: 80px;
}

/*****
CHECKOUT
*****/

.checkout {
    text-align: center;
    padding: 30px 20px 100px;
}

.checkout-title {
  color: #afafaf;
  line-height: 80px;
}
